/cleia/cleia-entities/target/
/cleia/abada-jbpm/target/
/cleia/cleia-dao/target/
/cleia/cleia-rest/target/
/cleia/cleia-web/target/
/cleia/cleia-patient/target/
/cleia/cleia-manager/target/
/cleia/cleia-medical/target/
cleia/bam/target/
cleia/cleia-api/target/
